<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tyler Boerner</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
<body>
<nav class="">
    <ul class="flex space-x-4 bg-red-500">
      <li class="hover:bg-gray-500">
        <a href="/">Home</a>
      </li>
      <li class="hover:bg-blue-500">
        <a href="/projects">Projects</a>
      </li>
      <li>
        <a href="/education">Education</a>
      </li>
      <li>
        <a href="/skills">Skills</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>